body {
	background-color: #B2E9FD;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

#movies-container {
	margin-top: 20px;
}

.card{
	margin-left:15px;
	margin-right:15px;
	margin-bottom:15px;
}

.btn-primary{
	vertical-align: bottom;
}
